@font-face {
	font-family: TTFirsNeue;
	font-display: swap;
	src: url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2"), url("../fonts/TTFirsNeue-DemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: TTFirsNeue;
	font-display: swap;
	src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@mixin demi {
	font-family: TTFirsNeue;
	font-weight: 600;
}

@mixin bold {
	font-family: TTFirsNeue;
	font-weight: 700;
}
